# ========================

# Ignorer tout sauf le dossier PixelBay

# ========================

*

!.gitignore
!PixelBay/**

# ========================

# Visual Studio Code

# ========================

.vscode/
*.code-workspace

# ========================

# Node.js

# ========================

node_modules/

# ========================

# Python

# ========================

**pycache**/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/

# ========================

# Logs

# ========================

*.log

# ========================

# Build / Dist folders

# ========================

dist/
build/
out/
